.header {
  display: flex;
  color: black;
  background-color: #91d5ff;
  width: 100%;
}
.header-text {
  text-align: center;
  align-items: center;
  justify-content: center;
  padding-left: 5%;
  width: 89%;
}

.header-logout {
  overflow: hidden;
  text-align: left;
  position: relative;
  margin: 5px;
}
